<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CD Store</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="{% static 'app_name/css/styles.css' %}"> -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Checkout page 🎉</h1>
        <h3>Thank you for your business.</h3>
        <h5>We've charged you ${{ request.session.price|floatformat:"-2" }} for this order.</h5>
        <h5>You have ordered {{request.session.total_items }} items and spent ${{ request.session.total_due|floatformat:"-2" }} with Dojodon.com so far.</h5>

        <form action="/back" method="post">
            {% csrf_token %}
            <input type="submit" class="btn" value="Go Back">
        </form>
    </div>
</body>